.text {
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
}

.text__s {
  font-size: var(--font-size-small);
  letter-spacing: var(--font-letter-spacing-pos-small);
}

.text__m {
  font-size: var(--font-size-large);
  line-height: var(--font-line-height-large);
  letter-spacing: var(--font-letter-spacing-pos-large);
}

.text__l {
  font-size: var(--font-size-xlarge);
  line-height: var(--font-line-height-large);
  letter-spacing: var(--font-letter-spacing-pos-xlarge);
}

.text__normal {
  font-weight: var(--font-weight-medium);
}

.text__bold {
  font-weight: var(--font-weight-bold);
}
