
.input {
  position: relative;
}

.input-field {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-neg-xsmall);
  line-height: var(--line-height);
  position: relative;
  display: flex;
  overflow: visible;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
  color: var(--black8);
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;
  background-color: var(--white);
}

.input-field:hover, .input-field:placeholder-shown:hover {
  color: var(--black8);
  border: 1px solid var(--black1);
  background-image: none;
}

.input-field::-moz-selection {
  color: var(--black);
  background-color: var(--blue3);
}

.input-field::selection {
  color: var(--black);
  background-color: var(--blue3);
}

.input-field::-moz-placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input-field:-ms-input-placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input-field::placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input-field:placeholder-shown {
  border: 1px solid var(--black1);
}

.input-field:focus:placeholder-shown {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}

.input-field:disabled:hover {
  border: 1px solid transparent;
}

.input-field:active, .input-field:focus {
  color: var(--black);
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}

.input-field:disabled {
  position: relative;
  color: var(--black3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-field:disabled:active {
  outline: none;
}

.input__has_icon .input-field {
  padding-left: 32px;
}

.input .icon {
  position: absolute;
  top: 0px;
  left: 0;
  width: var(--size-medium);
  height: var(--size-medium);
  z-index: 1;
  opacity: 0.3;
}
